p{
  background-color: Powderblue
  color: Black
}
a{

color: Red
}
body {
    font-size: 14px;
    color: navy;
    background-color: Powderblue
  }
#intro{
  text-align: center;
}
#intro img{

    margin: auto;
    padding: auto;
    border-width: 10px;
    border-style: dashed;
    border-color: Orange;
  }
